@import "./var.module.css";

input[type="text"] {
    width: 300px;
    height: 20px;
    border-color: var(--secondary-bg-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: var(--bg-color);

    transition: border-color 0.3s;
    
    outline: none;
}

input[type="text"]:disabled {
    color: var(--hint-color);
}

input[type=text]:focus {
    border-color: var(--primary-color);
}

span.text-input-label {
    font-family: var(--default-font);
    color: var(--hint-color);
    margin: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

div.radio-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type=radio] {
    appearance: none;
    display: block;
    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid var(--secondary-bg-color);
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

input[type=radio]:checked {
    border-color: var(--primary-color);
    border-width: 4px;
}

textarea {
    width: 80%;
    border-color: var(--secondary-bg-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: var(--bg-color);

    transition: border-color 0.3s;
    
    outline: none;
}

textarea:disabled {
    color: var(--hint-color);
}

textarea:focus {
    border-color: var(--primary-color);
}

input[type="datetime-local"] {
    width: 300px;
    height: 20px;
    border-color: var(--secondary-bg-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: var(--bg-color);

    transition: border-color 0.3s;
    
    outline: none;
}
